/.codegraph/
/.cache/
/.pi-subagents/
/build/
/obj-*/
/deepin-liferaft-*.tar.gz
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/deepin-liferaft/
/debian/*.debhelper
/debian/*.substvars
/debian/files
/*.deb
/*.buildinfo
/*.changes
/*.tar.xz
/*.log
/*.png
/progress.md
